@model ApplicationCore.Models.MovieDetailsModel
@using ApplicationCore.Models

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container-fluid" style="font-size:small; font-family:Georgia, 'Times New Roman', Times, serif">
    <div class="row" style=" background: conic-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(@Model.BackdropUrl)">
        <div class="col-4">
            <img src="@Model.PosterUrl" />
        </div>
        <div class="col-4">
            <h1 style="color: white;">@Model.Title</h1><br />
            <p style="color:darkgray">@Model.Tagline</p> <br />
            <p style="color:darkgray">@Model.RunTime | @Model.ReleaseDate </p><br />
            <p>
                @foreach (var genre in @Model.Genres)
                    {
                    <button type="button" class="btn btn-secondary btn-sm" style="font-weight:bold; min-inline-size">
                        @genre.Name
                    </button>
                    }
            </p><br />
            <p><button type="button" class="btn btn-success">8.7</button></p>
        <a style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;vertical-align:bottom">@Model.Overview</a>
    </div>
        <div class="col-2 py-5 pe-5">
            <div class="vstack gap-3">
                @{
                    ReviewRequestModel reviewRequest = new ReviewRequestModel
                    {
                        MovieId = Model.Id
                    };
                    }
                <partial name="_ReviewMovie" model="reviewRequest" />
               
                @{
                    PurchaseRequestModel purchaseRequest = new PurchaseRequestModel
                    {
                        MovieId = Model.Id
                    };
                    }
                <partial name="_PurchaseMovie" model="purchaseRequest" />
                
                @{
                    FavoriteRequestModel favoriteRequest = new FavoriteRequestModel
                    {
                        MovieId = Model.Id
                    };
                    }
                <partial name="_FavoriteMovie" model=favoriteRequest />

            </div>
        </div>
    </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h3>MOVIE FACTS</h3>
            <a>Release Date @Model.ReleaseDate</a>
            <br />
            <hr />
            <a>Run Time @Model.RunTime m</a>
            <br />
            <hr />
            <a>Box Office $@Model.Revenue</a>
            <br />
            <hr />
            <a>Budget $@Model.Budget</a>
            <br />
            <hr />
            <h3>Trailers</h3>
            <hr />
            @foreach (var trailer in @Model.Trailers)
                    {
                <a href="@trailer.TrailerUrl">@trailer.Name</a><br />
            }
            <br />
        </div>
        <div class="col">
            <h3>Cast</h3>
            <hr />
            <ul class="list-group list-group-flush">
                @foreach (var cast in Model.Casts)
                {
                    <li class="list-group-item">
                        <div class="hstack">
                            <a asp-controller="Casts" asp-action="Details" asp-route-id="@cast.Id">
                                <img class="img-fluid rounded-circle" style="width:2vw" src="@cast.ProfilePath" alt="@cast.Name">
                            </a>
                            <a asp-controller="Casts" asp-action="Details" asp-route-id="@cast.Id" class="align-self-start text-decoration-none text-dark" style="width:15vw; margin-left: 4vw;">
                                <span>@cast.Name</span>
                            </a>
                            as
                            <span class="align-self-start" style="width:15vw; margin-left: 4vw;">@cast.Character</span>
                            </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
