@model ApplicationCore.Models.MovieDetailsModel

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container-fluid" style="font-size:small; font-family:Georgia, 'Times New Roman', Times, serif">
    <div class="row" style=" background: conic-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(@Model.BackdropUrl)">
        <div class="col-4">
            <img src="@Model.PosterUrl" />
        </div>
        <div class="col-4">
            <h1 style="color: white;">@Model.Title</h1><br />
            <p style="color:darkgray">@Model.Tagline</p> <br />
            <p style="color:darkgray">@Model.RunTime | @Model.ReleaseDate </p><br />
            <p>
                @foreach (var genre in @Model.Genres)
                {
                    <button type="button" class="btn btn-secondary btn-sm" style="font-weight:bold; min-inline-size">
                        @genre.Name
                    </button>
                }
        </p><br />
        <a style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;vertical-align:bottom">@Model.Overview</a>
    </div>
    <div class="col-4" style="text-align:right; vertical-align:middle">
        <button type="button" class="btn btn-secoazsswndary" data-bs-toggle="modal" data-bs-target="#Modal2">
            Review
        </button><br />
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal1">
            Buy: $@Model.Price
        </button>
    </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h3>MOVIE FACTS</h3>
            <a>Release Date @Model.ReleaseDate</a>
            <br />
            <hr />
            <a>Run Time @Model.RunTime m</a>
            <br />
            <hr />
            <a>Box Office $@Model.Revenue</a>
            <br />
            <hr />
            <a>Budget $@Model.Budget</a>
            <br />
            <hr />
            <h3>Trailers</h3>
            <hr />
            @foreach (var trailer in @Model.Trailers)
                    {
                <a href="@trailer.TrailerUrl">@trailer.Name</a><br />
            }
            <br />
        </div>
        <div class="col">
            <h3>CAST</h3>
            <hr />
            @foreach (var cast in @Model.Casts)
                    {
                <div class="row">
                        <a href="#" class="col-3" style="text-align:center">
                        <a asp-controller="Casts" asp-action="Details" asp-route-id="@cast.Id">
                            <img src="@cast.ProfilePath" width="50" height="75">
                        </a>
                        <p class="col-4" style="text-align:right">@cast.Name</p>
                        <p class="col-1" style="text-align:center">as</p>
                        <p class="col-4" style="text-align:right">@cast.Character</p>
                </div>
                <hr />
            }
        </div>
    </div>
</div>

@*Modal Purchase*@
<div class="modal" id="Modal1" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Purchase Window</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirm to purchase this movie.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

@*ModalReview*@
<div class="modal fade" id="Modal2" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                1(Worst) to 10(Best)
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                        <li><a class="dropdown-item" href="#">5</a></li>
                        <li><a class="dropdown-item" href="#">6</a></li>
                        <li><a class="dropdown-item" href="#">7</a></li>
                        <li><a class="dropdown-item" href="#">8</a></li>
                        <li><a class="dropdown-item" href="#">9</a></li>
                        <li><a class="dropdown-item" href="#">10</a></li>
                    </ul>
                </div>
                Comment:
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Review Area</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                <button type="button" class="btn btn-light">Submit</button>
            </div>
        </div>
    </div>
</div>